<!--  视频库  页面 -->

{% extends "network/index.html" %}
{% load staticfiles %}
{% block block_title %}
	videoname
{% endblock block_title %}


{% block block_body1 %}

	<h1>video</h1>

<!--- {% block horse %}
		
{% endblock horse %}	
-->

{% block video1 %}

	{% if categories %}
	<ul>
	{% for video in  categories %}
	  <div class="col-sm-6 col-md-3">
	    <div class="thumbnail">
	    <li>
	      <a href="/network/videoPlay/{{ video.slug}}"> <img src="{% static "images/python1.jpg" %}" alt=""></a>  
		<!-- <a href="{{ video.url }}">{{ video.name }} </a> -->	
	    </li>
	         <div class="caption">
	      <a href=""></a>
	        <h4>{{video.title}}</h4>
	        <br/>
	        <span id="ppp">已经有{{video.count}}人学习</span>
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</ul>
	{% endif %}
	
{% endblock video1 %}

{% block video2 %}
	
{% endblock video2 %}

{% endblock block_body1 %}